@import "responsive.css";

.articles{
  display:grid;
}
#article{
  margin: 10px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.article-img{
 width: 100%;
 margin-bottom: 10px;
}
.readmore_button{
  margin-top:10px;
  cursor: pointer;
}